.container {
  max-width: none !important;
  background-image: url('https://i.ibb.co/211Vcsxm/kawaiicats-snuggle.webp');
}

.avatar-container .Player-username {
    color: #ffc1cc;
}

.move-number{
  color: #ffc1cc;
}

.game-name{
  color: #ffc1cc;
}

.Clock {
  color: #ffc1cc;
}

.size {
  color: #ffc1cc;
}

.Player-username {
  color: #ffc1cc;
}

.Player-rank {
  color: #ffc1cc;
}

.game_name {
  color: #ffc1cc;
}

.board_size {
  color: #ffc1cc;
}

.date {
  color: #ffc1cc;
}

.user_info {
  color: #ffc1cc;
}

.sortable {
  color: #e6e6fa;
}
